/* CSS define una serie de terminos que permiten describir ycada una de las partes que componen los estilos CascadaStyleSheet */

/* Selector Universal */
* {
  margin: 0;
  top: 0;
}

/* Selector de Etiqueta */
body {
  background-color: #041c32;
  color: #ecb365;
}

header {
  background-color: #064663;
}

nav {
  font-size: 25px;
}

footer {
  text-align: center;
  background-color: #04293a;
}

/* Selector descendente elementos dentro de otros */
article {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: green;
}

article span {
  color: red;
}

article span a {
  color: black;
  text-decoration: none;
  background-color: blueviolet;
  border-bottom: #041c32;
  border-radius: 15px;
  font-size: 50px;
}

/* Selector de Clase */
.destacado {
  color: red;
  font-weight: bold;
  background: #ecb365;
}

.error {
  background: red;
  color: white;
}

.alerta {
  color: black;
  padding: 5px;
  border: 5px solid red;
  background: white;
}

/* Selector por id */
#destacado {
  background-color: coral;
}

div #destacado {
  background: green;
}

/* Combinacion de selectores */
/* .destacado .alerta .error { } */

/* UNIDADES DE MEDIDA

in pulgadas
cm centrimetros
mm milimetros
pt puntos
pc picas

Unidaes Relativas
em relativa al tamaño de la letra
ex respecto a la altura de la letra x
px respecto a la pantalla del dispositivo

Porcentajes

colores  revisar en la documentacion


MODELOS DE CAJAS
cuadno insertas una etiqueta html se crea una caja de forma automatica llamada boxmodel
CADA ETIQUETA ES UNA CAGITA

las partes de una caja 
contenido (content)
relleno (padding)
borede (boreder)
imagen de fondo (backgroun-image)
color de fondo (bacgroun-color)
marge (margin) separacion entre la caja y el resto de cajas adyacentes el relleno y margen son transparentes

ALTURA
heigth
main - maxl -

ANCHURA
width
MARGEN
margin-top, margin-bottom, margin-left, margin-right

RELLENO 
padding-top, paddin-ottom, padding-right, padding-left

BORDES
border 


*/


div {
  width: 300px;
  padding-left: 50px;
  padding-right: 30px;
  margin-left: 80px;
  margin-right: 30px;
  border: 5px solid black;
}

/*
FONDOS
backgron-color
backgroud-image -> url


POSICIONAMIENTO
psition-
*/